<div class="fluid-container">
  <div class="card m-4" >
    <div class="card-header bg-success">
      <h6 class="card-title">{{singleCard.name}}</h6>
    </div>

    <div class="card-body">
      <img [src]="singleCard.image" alt="Card image cap">
      <div id="text">
      <p class="card-text">
        Price: ${{singleCard.price}}
        <br>
        Size: {{singleCard.size}} mm
      </p>
      <p>{{singleCard.desc}}</p>
    </div>
  </div>
    <div class="card-footer">
      <a routerLink="/card" class="btn btn-success">Cubes</a>
    </div>
  </div>
</div>
