<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <a class="navbar-brand" href="#">Rubik's Cubes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='/' >Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/card" >3x3</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/fours" >4x4</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="search" name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText" autocomplete="off">

      <ul *ngIf="searchText != '' && searchText != null"  class="results">
        <li *ngFor="let cube of cubes | filter:searchText" class="" >
          <a [routerLink]= "['/single-card', cubes.indexOf(cube)]" (click)="clearSearch()">{{cube.name}}</a>
        </li>
        <li *ngFor="let fourbyfour of fourbyfours | filter:searchText" class="" >
          <a [routerLink]= "['/single-four', fourbyfours.indexOf(fourbyfour)]" (click)="clearSearch()">{{fourbyfour.name}}</a>
        </li>
      </ul>

      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>



  </div>
</nav>
